<div>
<h1 style="font-family: helvetica">Player One: <%= @game.player_1.name %>. Player Two: <%= @game.player_2.name %>.</h1>
</div>

<div>
<h2 style="font-family: helvetica"><%=@game.player_1.name%>'s Hitpoints: <%=@game.player_1.hp%></h2>
<h2 style="font-family: helvetica"><%=@game.player_2.name%>'s Hitpoints: <%=@game.player_2.hp%></h2>
</div>

<div>
  <form action='/attack'>
    <input type="submit" value="Attack">
  </form>
</div>